
/* VARIABLES
============================================= */

// Fonts
$font-roboto-thin: 'Roboto-Thin', sans-serif;
$font-roboto-regular: 'Roboto-Regular', sans-serif;
$font-roboto-medium: 'Roboto-Medium', sans-serif;
$font-oswald: 'Oswald-Regular', sans-serif;
$link-font-awesome: 'FontAwesome', sans-serif;

// Colors
$black: #000;
$white: #fff;

$blue: #0071ff;
$red: #dc0f45;
$grey: #F8F8F8;
$grey2: #e2e3e4;


$color-disabled: #b0b4b8;

$text-color: $black;
$white: $white;

$primary-color: $blue;
$alert: $red;

$disabled-color: $color-disabled;

// FontSize
$font-size-80: 5rem;
$font-size-64: 4rem;
$font-size-40: 2.5rem;
$font-size-32: 2rem;
$font-size-28: 1.75rem;
$font-size-24: 1.5rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;
$font-size-11: 0.6875rem;

// Radius
$radius-button: 5px;
$radius-tab: 5px;
